
.assembly{
    padding-top: 20em;
    text-align: center;
  }
  
  
  .problem{
      text-align: center;
      padding-top: 15em;
  }
  .statement{
      font-size: 18px;
      line-height: 32px;
      color: #fff;
      font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .title{
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 110%;
      font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3em;
      color: #fff;
  }
  
  .three-model{
      padding-top: 10em;
  }
  
  .work-caption{
      padding-top: 10px;
      color: #fff;
      font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 100%;
      display: block;
      font-size: 14px;
      line-height: 170%;
      text-align: center;
  }
  .work-caption-two{
    padding-top: 10px;
    color: #fff;
    font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 170%;
    text-align: center;
}
  
  .four-model{
      padding-top: 10em;
      width: 450px;
      height: 300px;
  }

  .five-model{
    padding-top: 10em;
    width: 450px;
    height: 600px;
}
  
  
  .row{
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-style: normal;
      color: #fff;
      padding-left: 5em;
      margin-top: 5em;
  }
  
  .column{
      float: right;
      padding-left: 5em;
  }