.main-container{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-style: normal;
    color: #fff;
    padding-left: 5em;
    margin-top: 5em;
}