
.assembly-one{
    padding-top: 5em;
    padding-left: 2em;
    text-align: center;
    width: 20px;
    height: 20px;
  }
  
  .second-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-style: normal;
      color: #fff;
      padding-left: 5em;
      margin-top: 5em;
      align-self: flex-start;
  }
  
  .problem{
      text-align: center;
      padding-top: 5em;
      align-items: center;
      display: flex;
      flex-direction: column;
  }
  .statement{
      font-size: 18px;
      line-height: 32px;
      color: #fff;
      font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 700px;
  }
  
  .title{
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 110%;
      font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3em;
      color: #fff;
  }
  
  .three-model{
      padding-top: 5em;
  }
  
  .work-caption{
      padding-top: 10px;
      color: #fff;
      font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 100%;
      display: block;
      font-size: 14px;
      line-height: 170%;
      text-align: center;
  }
  
  .four-model{
      padding-top: 10em;
      width: 450px;
      height: 300px;
  }
  
  
  .row{
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-style: normal;
      color: #fff;
      margin-top: 5em;
  }
  
  .column{
      float: right;
      padding-left: 5em;
  }