.gant-bubble{
    color: #fff!important;
    background: #153850;
    font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    flex-direction: row;
    border-radius: 20px;
    padding: 1.5em;
    width: 20vw;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

.gant-company{
    display: flex;
    flex-direction: column;
}

.company{
    font-size: 18px;
}

.position{
    margin-top: .3em;
    font-size: 14px;
}

.tenure{
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}