body{
    background-color: rgb(4, 4, 31);
}

.container{
    position: relative;
}

/* the navbar */
.topnav{
    overflow: hidden;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    width: 100vw;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.topnav a:hover {
    color: rgb(255, 239, 91);
}

.main-container{
    flex-direction: row;
}
.title{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;
    word-spacing: 5px; 
    color: #fff;
}

h2 {
    font-family: Dancing Script, sans-serif;
    font-size: 50px;
    letter-spacing: 8px;
}

.lottie{
    float: right;
}
