body{
    background-color: rgb(4, 4, 31);
}

.main-container{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-style: normal;
    color: #fff;
    padding-left: 5em;
    margin-top: 5em;
}
.title{
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 110%;
    font-family: "Recoleta", Recoleta, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
}

.lottie{
    float: right;
    padding-left: 15em;
}

.text-two{
    font-family: "Biotif-Regular", Biotif-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.7;
}
.cd-one{
    padding-top: 45em;
}

.cd-two{
   padding-top: 8em;
}

.cd-three{
    padding-top: 8em;
}

.footer{
    padding-top: 5em;
    padding-bottom: 5em;  
}
