  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
  }

.container{
    position: fixed;
    background-color: rgb(4, 4, 31);
    z-index: 9000 !important;
}

/* the navbar */
.topnav{
    
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    width: 100vw;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.topnav a:hover {
    color: #65b7ee;
    border-bottom: #65b7ee solid 3px;
}

.nav-links{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px; 
    font-family: inherit;
  }
  
  .dropdown-content {
    display: none;
    background-color: #082036;
    max-width: 160px; 
    border-radius: 15px;
    letter-spacing: 4px;
    margin-top: 5.5em;
    justify-content: center;
    -webkit-transform: translate(-50%, 0);
    left: 6.5%;
  }
  
  .dropdown-content a {
    float: none;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 15px;
    margin-top: 5vh;
    padding-bottom: 2em;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    margin-right: 10em;
  }


.github{
    padding-top: 7px;
}

.icon{
    padding-right: 9em;
}
.words{
    font-family: "Biotif-Regular", Biotif-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 15px;
    letter-spacing: 2px;
}

.social-media{
    padding-right: 5em;
}