  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
  }


.vis-bot{
    width: 30vw;
    height: 75vh;
    background: #153850;
    position: relative;
    float: right;
    left: 0;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bot-header{
    background: #456a81;
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.vis-avi{
    border-radius: 50%;
    border: 2px solid #fff;
    max-width: 40px;
    margin-right: 16px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}