.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    padding-left: 25px;
}

.header-container .para-text {
    max-width: 525px;
    padding-left: 25px;
}

.header-lottie {
    max-width: 450px;
}

@media (max-width: 980px) {
    .header-container {
        text-align: center;
        flex-direction: column;
    }

    .header-container div {
        margin: 1em 0;
    }
}
